body{
  background-color: #ececec;
}
.icon{
  display: inline-block;
}

#navigation-section{
  margin-top: 25px;
}

.logos{
  width: 120px;
}

.a-icon{
  color: black;
}

.b-icon{
  color: black;
}

.navbar-item, .a-1{
  color: black;
  padding-left: 20px;
  margin-top: 10px;
}

.b-icon{
  padding-left: 20px;
}

.icons{
  margin-top: 10px;
}

.navbar-nav{
  margin-left: 0;
}

@media only screen and (max-width: 960px) {
    .navbar-item, .a-1 {
      padding-left: 0;
    }
  }

@media only screen and (max-width: 960px) {
      .icons, .icon {
        padding-left: 0px;
        margin-left: 0;
      }
    }

/* Only for today section */

hr{
  width: 400px;
}

.today-text, h4{
  font-family: 'Caveat';
  font-style: italic;
  font-weight: bold;
}

/* carousel section */
.img1{
  height: 450px;
  max-width: 100%;
}

.buy{
  justify-content: center;
  list-style: none;
  display: flex;
  margin-right: 80px;

}

.carousel-inner, .img1 {
  margin: auto;
}

.pr{
  margin-left: 20px;
  margin-top: 10px;
  color: #b49c73;
}

.btn{
  padding: 7px;
  color: #565d47;
}

h4{
  margin-top: 6px;
}

@media only screen and (max-width: 360px) {
      .carousel-inner{
        width: 375px;
      }
    }
