body{
  background-color: #f4f4f4;
}
.icon{
  display: inline-block;
}

.navbar-toggler{
padding: 0;
}

#navigation-section{
  margin-top: 25px;
  margin-bottom: 5%;;
}

.logos{
  width: 135px;
  height: 40px;
}

.a-icon{
  color: black;
}


.b-icon{
  color: black;
}

.navbar-item, .a-1{
  color: black;
  padding-left: 20px;
  margin-top: 10px;
  letter-spacing: 2px;
}

#an{
  text-decoration: none;
}

#an:hover{
  color: gray;
}

#ic:hover{
  color: gray;
}

.b-icon{
  padding-left: 20px;
}

.icons{
  margin-top: 10px;
}

.navbar-nav{
  margin-left: 0;
}

@media only screen and (max-width: 960px) {
    .navbar-item, .a-1 {
      padding-left: 0;
    }
  }

@media only screen and (max-width: 960px) {
      .icons, .icon {
        padding-left: 0px;
        margin-left: 0;
      }
    }

/* Only for today section */
hr{
  width: 400px;
}

.today-text, h4{
  font-family: 'Caveat';
  font-weight: bold;
  letter-spacing: 3px;
}

/* carousel section */
.img1{
  height: 450px;
  max-width: 100%;
}

.buy{
  justify-content: center;
  list-style: none;
  display: flex;
  margin-right: 80px;

}

.carousel-inner, .img1 {
  margin: auto;
}

.pr{
  margin-left: 20px;
  margin-top: 10px;
  color: #eb4559;
}

.btn{
  padding: 7px;

}

h4{
  margin-top: 5%;
  font-size: 20px;
}

@media only screen and (max-width: 360px) {
      .carousel-inner{
        width: 375px;
      }
    }

@media only screen and (min-width: 360px) and (max-width: 1080px) {
  hr{
    width: 250px;
    }
}

.description{
  text-align: center;
  margin-top: 15px;
}

.text-desc{
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 0px;
}

/* Our collection section */
.collection-section{
  text-align: center;
  margin-top: 50px;
}

.col-text{
  font-size: 25px;
}

.row{
background-size: cover;
margin-right: 0;
margin-left: 0;
}

.col1{
  padding: 0 0;
}


.collection-desc{
  color: #000;
  position: absolute;
  left: 240px;
    top: 400px;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Lobster";
}

.txt1{
  font-size: 2.5rem;
  font-weight: bold;
}

}
.woman-collection{
  position: relative;
}

/* best seller section */
.best-seller{
  text-align: center;
  margin-bottom: 25px;

}

.row{
  justify-content: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.price{
  text-align: center;
}

.descrip{
  color:black;
}

.descrip:hover {
  color: grey;
}

.price: hover{
  text-decoration: none;
}

.content-area{
  position: relative;
}

.owl-dots{
  text-align: center;
  margin-top: 3%;
}

.owl-dot{
  display: inline-block;
  height: 6px !important;
  width: 70px !important;
  background-color: #85a392 !important;
  opacity: 0.8;
  margin:0 5px;
}

.owl-dot:hover{
  background-color: black !important;
}

/* gifts and shipping section */
#shipgift{
  margin-top: 50px;
}

.bsd{
  margin-right: 10%;
}

.emailbtn{
  width: 66px;
  height: 31px;
  padding: 0;
  margin-bottom: 3px;
}

.ship, .ship2, .gift2 {
  background-color: black;
  color: white;
  text-align: center;
}

.ship{
  padding-top: 10px;
}

.ship2, .gift2{
  height: 150px;
}

input{
  width: 200px;
  margin-right: 10px;
  border-radius: 5px;
}

.pg{
  padding: 0 10px 0 10px;
}

.pg1{
  padding: 0 25px 0 25px;
}

.gc{
  color: #ffacb7;
}

.env{
  color:#d8ebb5;
}

@media only screen and (min-width: 320px) and (max-width: 1335px) {
  .bsd{
    margin-right: 0;
    margin-bottom: 20px;
    }
}
/* footer section */
.footer{
  background-color: #000;
  margin-top: 30px;
  height: 300px;
}

.social-media, {
  color: #fff;
  font-size: 18px;
}

.sm1{
  font-size: 1rem;
  color: #fff;
  margin-left: 20px;
}

.sm2{
  font-size: 12px;
  color: #fff;
}

.email2{
  margin-right: 0;
  width: 235px;
}

#basic-addon1{
  position: absolute;
  left: 300px;
}

.sec{
  top:20px;
}

.social-sec, .social-media, .credit-cards{
  padding-top: 50px;
  text-align: center;
}

.input-group{
  justify-content: center;
}

.cc{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.rights{
  color: #fff;
}

.right{
  margin-top: 80px;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .som1{
      bottom: 30px;
    }
    .faceb{
      text-align: center;
    }

    .input-group{
      right: 35px;
    }

    .social-sec, .credit-cards{
      padding-top: 15px;
    }

    #basic-addon1{
      left: 285px;
    }

    .footer{
      height: 380px;
    }

    .som2{
      bottom: 35px;
    }

    .right{
      margin-top: 20px;
    }

    .sm1{
      margin-left: 0;
      margin-right: 12px;
    }
}

@media only screen and (min-width: 768px) {
    #basic-addon1{
      left: 460px;
      }
    }
